<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title> Finance</title>
    </head>
    <body>
     <h1>Black Schloes Model</h1>
        <form action="black">
            S : <input type ="text" name="S"><br>
            K: <input type ="text" name="K"><br>
            T : <input type ="text" name="T"><br>
            r : <input type ="text" name="r"><br>
            sigma : <input type ="text" name="sigma"><br>
            opt : <input type ="text" name="opt"><br>
            <input type ="submit">
        </form>

        <h2>Please type put or call only in opt field</h2>
    
    </body>
</html>