<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title> Finance</title>
        <link href="../../../static/new.css" rel="stylesheet">
    </head>
    <body>
    <div id="container">
    <h1>N step binomial tree</h1>
    <h3>SET n=2 for Two Step Binomial Tree step</h3>
        <form action="add">
            Current Price : <input type ="text" name="S0"><br>
            Strike Price : <input type ="text" name="K"><br>
            Time : <input type ="text" name="T"><br>
            Risk Free Interest Rate : <input type ="text" name="r"><br>
            Up Factor : <input type ="text" name="u"><br>
            Down Factor : <input type ="text" name="d"><br>
            Steps : <input type ="text" name="N"><br>
            Call or Put? : <input type ="text" name="opt"><br>
            <input id="button" type ="submit">

        </form>
    </div>
        
        
        
    </body>
</html>